soa-model-core/trunk/src/test/resources/extern/Schema2.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:tns="http://ws.xyz.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.xyz.com/" version="1.0">
	<xs:element name="answer2" type="tns:answerDto" />
	<xs:element name="authorizedRecruitment" type="tns:authorizedRecruitment" />
	<xs:element name="compensation" type="tns:compensationDto" />
	<xs:element name="complex-question" type="tns:complex-assigned-question" />
	<xs:element name="configurableFields" type="tns:configurableFieldsDto" />
	<xs:element name="createPosition" type="tns:createPosition" />
	<xs:element name="createPositionResponse" type="tns:createPositionResponse" />
	<xs:element name="customField" type="tns:customField" />
	<xs:element name="document" type="tns:structuredDocumentDto" />
	<xs:element name="expectedContractDates" type="tns:expectedContractDates" />
	<xs:element name="freeFormField" type="tns:freeFormFieldDto" />
	<xs:element name="getPositionById" type="tns:getPositionById" />
	<xs:element name="getPositionByIdResponse" type="tns:getPositionByIdResponse" />
	<xs:element name="getPositions" type="tns:getPositions" />
	<xs:element name="getPositionsByReqNumber" type="tns:getPositionsByReqNumber" />
	<xs:element name="getPositionsByReqNumberResponse" type="tns:getPositionsByReqNumberResponse" />
	<xs:element name="getPositionsResponse" type="tns:getPositionsResponse" />
	<xs:element name="jobadTemplate" type="tns:jobAdTemplateDto" />
	<xs:element name="location" type="tns:locationDto" />
	<xs:element name="onboarding" type="tns:onboardingUserDTO" />
	<xs:element name="onboardingTeam" type="tns:onboardingTeam" />
	<xs:element name="openingPosition" type="tns:openingPositionDTO" />
	<xs:element name="organization" type="tns:organizationDto" />
	<xs:element name="position" type="tns:positionDto" />
	<xs:element name="positionTeam" type="tns:positionTeam" />
	<xs:element name="question" type="tns:simple-assigned-question" />
	<xs:element name="standardRate" type="tns:standardRate" />
	<xs:element name="totalCost" type="tns:totalCost" />
	<xs:element name="updatePosition" type="tns:updatePosition" />
	<xs:element name="updatePositionResponse" type="tns:updatePositionResponse" />
	<xs:element name="user" type="tns:userDto" />
	<xs:element name="workTime" type="tns:workTime" />
	<xs:complexType name="getPositions">
		<xs:sequence>
			<xs:element minOccurs="0" name="orgId" type="xs:long" />
			<xs:element minOccurs="0" name="status" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getPositionsResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="position"
				type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positionDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="areaOfResponsibility"
				type="xs:string" />
			<xs:element minOccurs="0" name="authorizedRecruitment"
				type="xs:string" />
			<xs:element minOccurs="0" name="company" type="xs:string" />
			<xs:element minOccurs="0" name="compensation" type="tns:compensationDto" />
			<xs:element minOccurs="0" name="configurableFields" type="tns:configurableFieldsDto" />
			<xs:element minOccurs="0" name="contractComments" type="xs:string" />
			<xs:element minOccurs="0" name="contractType" type="xs:string" />
			<xs:element minOccurs="0" name="costCenter" type="xs:string" />
			<xs:element minOccurs="0" name="created" type="xs:dateTime" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="customField"
				type="tns:customField" />
			<xs:element minOccurs="0" name="descriptionTemplate" type="tns:jobAdTemplateDto" />
			<xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="duration" type="tns:duration" />
			<xs:element minOccurs="0" name="expectedContractDates"
				type="tns:expectedContractDates" />
			<xs:element minOccurs="0" name="generalApplication" type="xs:boolean" />
			<xs:element minOccurs="0" name="headCount" type="xs:long" />
			<xs:element minOccurs="0" name="id" type="xs:long" />
			<xs:element minOccurs="0" name="jobNumber" type="xs:string" />
			<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="location" type="tns:locationDto" />
			<xs:element minOccurs="0" name="onboarding" type="tns:onboardingTeam" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="openingPosition" type="tns:openingPositionDTO" />
			<xs:element minOccurs="0" name="organization" type="tns:organizationDto" />
			<xs:element name="plainText" type="xs:boolean" />
			<xs:element minOccurs="0" name="positionType" type="xs:string" />
			<xs:element minOccurs="0" name="profileDocument" type="tns:structuredDocumentDto" />
			<xs:element minOccurs="0" name="renewal" type="xs:boolean" />
			<xs:element minOccurs="0" name="requisitionNumber" type="xs:string" />
			<xs:element minOccurs="0" name="scheduleType" type="xs:string" />
			<xs:element minOccurs="0" name="standardRate" type="tns:standardRate" />
			<xs:element minOccurs="0" name="status" type="xs:string" />
			<xs:element minOccurs="0" name="team" type="tns:positionTeam" />
			<xs:element minOccurs="0" name="teamComments" type="xs:string" />
			<xs:element minOccurs="0" name="title" type="xs:string" />
			<xs:element minOccurs="0" name="totalCost" type="tns:totalCost" />
			<xs:element minOccurs="0" name="workTime" type="tns:workTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="authorizedRecruitment">
		<xs:sequence>
			<xs:element minOccurs="0" name="employee" type="xs:boolean" />
			<xs:element minOccurs="0" name="externalCandidate" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="compensationDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="currency" type="xs:string" />
			<xs:element minOccurs="0" name="maximum" type="xs:decimal" />
			<xs:element minOccurs="0" name="minimum" type="xs:decimal" />
			<xs:element minOccurs="0" name="period" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="configurableFieldsDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="freeFormFields">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="freeFormField" type="tns:freeFormFieldDto" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="lovs">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="lov"
							type="tns:confLovDto" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="freeFormFieldDto">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="keygroup" type="xs:string" />
				<xs:attribute name="keyfield" type="xs:string" />
				<xs:attribute name="lovId" type="xs:long" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="confLovDto">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="keyname" type="xs:string" />
				<xs:attribute name="lovId" type="xs:long" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="customField">
		<xs:sequence>
			<xs:element minOccurs="0" name="label" type="xs:string" />
			<xs:element name="order" type="xs:int" />
			<xs:element minOccurs="0" name="value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jobAdTemplateDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="additionalDepartments">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="additionalDepartment" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="allFieldsLocked" type="xs:boolean" />
			<xs:element name="anyFieldLocked" type="xs:boolean" />
			<xs:element minOccurs="0" name="confProperties" type="tns:hashMap" />
			<xs:element minOccurs="0" name="departmentId" type="xs:long" />
			<xs:element minOccurs="0" name="id" type="xs:long" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="jobdescFields" type="tns:jobAdField" />
			<xs:element name="plainText" type="xs:boolean" />
			<xs:element minOccurs="0" name="primaryLanguage" type="xs:string" />
			<xs:element minOccurs="0" name="strapline" type="xs:string" />
			<xs:element minOccurs="0" name="title" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hashMap">
		<xs:complexContent>
			<xs:extension base="tns:abstractMap">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="true" name="abstractMap">
		<xs:sequence />
	</xs:complexType>
	<xs:complexType name="jobAdField">
		<xs:sequence>
			<xs:element minOccurs="0" name="content" type="xs:string" />
			<xs:element minOccurs="0" name="index" type="xs:int" />
			<xs:element minOccurs="0" name="label" type="xs:string" />
			<xs:element name="lockAfterImport" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="duration">
		<xs:sequence>
			<xs:element minOccurs="0" name="count" type="xs:int" />
			<xs:element minOccurs="0" name="period" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="expectedContractDates">
		<xs:sequence>
			<xs:element minOccurs="0" name="end" type="xs:dateTime" />
			<xs:element minOccurs="0" name="start" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="locationDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="city" type="xs:string" />
			<xs:element minOccurs="0" name="country" type="xs:string" />
			<xs:element minOccurs="0" name="region" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="onboardingTeam">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="onboardingCoordinator" type="tns:onboardingUserDTO" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="hiringManager" type="tns:onboardingUserDTO" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="onboardingHR"
				type="tns:onboardingUserDTO" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="onboardingMentor" type="tns:onboardingUserDTO" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="onboardingUserDTO">
		<xs:complexContent>
			<xs:extension base="tns:userDto">
				<xs:sequence>
					<xs:element minOccurs="0" name="onboardingId" type="xs:long" />
					<xs:element minOccurs="0" name="userId" type="xs:long" />
					<xs:element minOccurs="0" name="onboardingUserName"
						type="xs:string" />
					<xs:element minOccurs="0" name="onboardingUserType"
						type="tns:onboardingUserType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="userDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="cellphone" type="xs:string" />
			<xs:element minOccurs="0" name="email" type="xs:string" />
			<xs:element minOccurs="0" name="firstName" type="xs:string" />
			<xs:element minOccurs="0" name="id" type="xs:long" />
			<xs:element minOccurs="0" name="lastName" type="xs:string" />
			<xs:element minOccurs="0" name="login" type="xs:string" />
			<xs:element minOccurs="0" name="type" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="openingPositionDTO">
		<xs:sequence>
			<xs:element minOccurs="0" name="positionId" type="xs:long" />
			<xs:element minOccurs="0" name="positionTitle" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organizationDto">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="unit"
				type="tns:unit" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unit">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:string" />
				<xs:attribute name="id" type="xs:long" />
				<xs:attribute name="level" type="xs:int" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="structuredDocumentDto">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:long" />
			<xs:element minOccurs="0" name="questions">
				<xs:complexType>
					<xs:sequence>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element ref="tns:question" />
							<xs:element ref="tns:complex-question" />
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simple-assigned-question">
		<xs:complexContent>
			<xs:extension base="tns:assigned-question">
				<xs:sequence>
					<xs:element minOccurs="0" name="answer" type="tns:answerDto" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="true" name="assigned-question">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:long" />
			<xs:element minOccurs="0" name="index" type="xs:int" />
			<xs:element name="label" type="xs:string" />
			<xs:element minOccurs="0" name="localizedLabel" type="xs:string" />
			<xs:element minOccurs="0" name="order" type="xs:long" />
			<xs:element minOccurs="0" name="questionId" type="xs:long" />
			<xs:element minOccurs="0" name="type" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="answerDto">
		<xs:sequence>
			<xs:element name="values">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="value"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="complex-assigned-question">
		<xs:complexContent>
			<xs:extension base="tns:assigned-question">
				<xs:sequence>
					<xs:element minOccurs="0" name="children">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="unbounded" minOccurs="0">
									<xs:element ref="tns:question" />
									<xs:element ref="tns:complex-question" />
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="standardRate">
		<xs:sequence>
			<xs:element minOccurs="0" name="currency" type="xs:string" />
			<xs:element minOccurs="0" name="maximum" type="xs:decimal" />
			<xs:element minOccurs="0" name="minimum" type="xs:decimal" />
			<xs:element minOccurs="0" name="period" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positionTeam">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="approver"
				type="tns:approverDto" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="operational"
				type="tns:teamMemberDto" />
			<xs:element minOccurs="0" name="recruiter2OutOfTlk" type="xs:boolean" />
			<xs:element minOccurs="0" name="recruiter3OutOfTlk" type="xs:boolean" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="recruiter"
				type="tns:teamMemberDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="approverDto">
		<xs:complexContent>
			<xs:extension base="tns:teamMemberDto">
				<xs:sequence />
				<xs:attribute name="stepOrder" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="teamMemberDto">
		<xs:complexContent>
			<xs:extension base="tns:userDto">
				<xs:sequence />
				<xs:attribute name="order" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="totalCost">
		<xs:sequence>
			<xs:element minOccurs="0" name="currency" type="xs:string" />
			<xs:element minOccurs="0" name="maximum" type="xs:decimal" />
			<xs:element minOccurs="0" name="minimum" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="workTime">
		<xs:sequence>
			<xs:element minOccurs="0" name="timeCount" type="xs:float" />
			<xs:element minOccurs="0" name="workPeriod" type="xs:string" />
			<xs:element minOccurs="0" name="workUnit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getPositionById">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getPositionByIdResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="position" type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="createPosition">
		<xs:sequence>
			<xs:element minOccurs="0" name="position" type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="createPositionResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="position" type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getPositionsByReqNumber">
		<xs:sequence>
			<xs:element minOccurs="0" name="reqNumber" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getPositionsByReqNumberResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="position"
				type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="updatePosition">
		<xs:sequence>
			<xs:element minOccurs="0" name="position" type="tns:positionDto" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="updatePositionResponse">
		<xs:sequence />
	</xs:complexType>
	<xs:simpleType name="onboardingUserType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MENTOR" />
			<xs:enumeration value="ONBOARDING_CO_ORDINATOR" />
			<xs:enumeration value="ONBOARDING_HR" />
			<xs:enumeration value="ONBOARDING_MANAGER" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
