trunk/src/test/resources/xsd/OTA_PkgCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.000" id="OTA2003A2003A">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:simpleType name="MealPlanCode">
		<xs:annotation>
			<xs:documentation>The code for a meal plan e.g. AB- as brochure, AI- all inclusive, BB- bed and breakfast, FB- full board, HB- Half Board, RO- room only,SC- self catering </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="FB"/>
			<xs:enumeration value="HB"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="SC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageID_RefType">
		<xs:annotation>
			<xs:documentation>A code identifying a complete package arrangement, replacing individual travel and accommodation codes. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to32"/>
	</xs:simpleType>
	<xs:simpleType name="PkgPersonalInsuranceCode">
		<xs:annotation>
			<xs:documentation>A coded identification of a type of insurance. This element could be equivalent to UN/EDIFACT 4497 Insurance cover type, coded)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ski"/>
			<xs:enumeration value="Worldwide"/>
			<xs:enumeration value="Europe"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PkgTravelCode">
		<xs:annotation>
			<xs:documentation>The supplier’s code to identify the travel arrangement for the package</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to8"/>
	</xs:simpleType>
	<xs:attributeGroup name="DateTimePeriod">
		<xs:annotation>
			<xs:documentation>Date and time of an arrangement, e.g. a property stay.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CheckInDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date and (optionally) time of checkin (also known as Arrival Date/Time).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The length of the accommodation stay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CheckOutDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Normal Date and (optionally) time of checkout (also known as Departure Date/Time).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastCheckOutDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Latest Date and (optionally) time of checkout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="InventoryStatusGroup">
		<xs:annotation>
			<xs:documentation>A Status Code and Description defining whether a  booking element has been requested or confirmed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ReservationStatusCode" type="OTA_CodeType" use="optional"/>
		<xs:attribute name="ReservationStatus" type="InventoryStatusType" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="MealPlanGroup">
		<xs:attribute name="Plan" type="StringLength0to32"/>
		<xs:attribute name="Code" type="MealPlanCode" use="required"/>
		<xs:attributeGroup ref="QuantityGroup"/>
		<xs:attribute name="RPH" type="RPH_Type" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OccupancyGroup">
		<xs:attribute name="MinOccupancy" type="Numeric1to99" use="optional">
			<xs:annotation>
				<xs:documentation>Minimum number of persons allowed in a unit of accommodation or place. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxOccupancy" type="Numeric1to99" use="optional">
			<xs:annotation>
				<xs:documentation>Maximum number of persons allowed in a unit of accommodation or place. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PackageItemPositionGroup">
		<xs:annotation>
			<xs:documentation>Defines the chronological and sequential order of an item in a package</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ItinerarySequence" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>The position of this item in the package itinerary.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChronologicalSequence" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>The position of this item in the package in time sequence.  Note: it is possible for more than one inventory item to have the same ChronologicalSequence value e.g. Car Hire and Hotel Stay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="AccommodationClassType">
		<xs:annotation>
			<xs:documentation>Rating of an accommodation property.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation>Providers rating eg '4'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation>Providers qualifier name e.g. 'Crowns'. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NationalCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation>Official rating e.g. '4'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OfficialName" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation>Official qualifier name eg 'STAR'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AccommodationDetailType">
		<xs:annotation>
			<xs:documentation>Provides accommodation location, dates and classifications</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Property" type="PropertyIdentityType"/>
			<xs:element name="Resort" type="ResortCodeType" minOccurs="0"/>
			<xs:element name="AccommodationClass" type="AccommodationClassType" minOccurs="0"/>
			<xs:element name="FacilityChoices" type="FacilityChoicesType" minOccurs="0"/>
			<xs:element name="SourceIdentification" type="SourceIdentificationType" minOccurs="0"/>
			<xs:element name="ContentInfo" type="URL_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="PackageID" type="PackageID_RefType" use="optional"/>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
		<xs:attribute name="MinChildAge" type="Numeric1to99" use="optional"/>
		<xs:attribute name="MaxChildAge" type="Numeric1to99" use="optional"/>
		<xs:attribute name="BaseMealPlan" type="MealPlanCode" use="optional">
			<xs:annotation>
				<xs:documentation>This is the meal plan that is included in the package price.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BedQuantity" type="Numeric0to999" use="optional"/>
		<xs:attribute name="TravelOKFlag" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Used to indicate whether or not the travel associated with the package is available with this accommodation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AccommodationSegment">
		<xs:annotation>
			<xs:documentation>Defines an accommodation component of a package holiday. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identity" type="PropertyIdentityType" minOccurs="0"/>
			<xs:element name="DateRange" type="DateTimeSpanType"/>
			<xs:element name="RoomProfiles" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of RoomProfile elements</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RoomProfile" type="PkgRoomProfileType" maxOccurs="9"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MealPlans" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of MealPlan elements</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MealPlan" type="MealPlanType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RPH" type="RPH_Type" use="optional"/>
		<xs:attribute name="ResortName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation>Describes the resort or area containing a property.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CostingItemType">
		<xs:annotation>
			<xs:documentation>Details of an invoice item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UnitPrice" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation>Unit cost in a given monetary unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedPrice" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unit cost multiplied by Unit Quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Description" type="ShortDescriptionType" use="optional">
			<xs:annotation>
				<xs:documentation>A description of an invoice item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup"/>
	</xs:complexType>
	<xs:complexType name="CustomerCountsType">
		<xs:annotation>
			<xs:documentation>CustomerCounts : Categorization of all Customers in a reservation or request.  The total number of Customers will equal the sum of the Count attribute of all CustomerCount objects in this collection and assumes that the AgeQualifyingCode will be used to determine how each Customer should be billed. Each booking segment has its own CustomerCount attribute to help determine billing, headcount, etc.  The CustomerCount collection cannot be modified using a delta—it must be resent in its entirety if modified. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerCount" type="TravelerCountType" maxOccurs="9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountCommissionType">
		<xs:annotation>
			<xs:documentation>Defines the fee earned by the agent for the booking or an amount of discount given on a direct booking.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DiscountAmount" type="CurrencyAmountType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Value of commission in a given monetary unit or of a discount; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Description" type="ShortDescriptionType" use="optional"/>
		<xs:attribute name="DiscountRate" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation>Value of commission as a percentage -  present when Rate Code indicates a percentage.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DiscountType" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether the Rate is a percentage (P) or a value (V).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="P"/>
					<xs:enumeration value="V"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FacilityChoicesType">
		<xs:annotation>
			<xs:documentation>Provides the available facilities for the enquiror's chosen property and stay.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AvailableRooms" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Room" type="PkgRoomInventoryType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>Describes a type of room/cabin/apartment etc</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AvailableMealPlans" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MealPlan" type="MealPlanType" maxOccurs="9"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RoomPrices" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>A collection of price information for each available room based on an available board terms (meal plan) e.g prices for each room based on Half Board.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RoomPrice" type="RoomPriceType" maxOccurs="99"/>
					</xs:sequence>
					<xs:attribute name="MealPlan" type="MealPlanCode"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="OccupancyGroup"/>
	</xs:complexType>
	<xs:complexType name="ItineraryItemType">
		<xs:annotation>
			<xs:documentation>Any valid item of inventory.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Accommodation" type="AccommodationSegment"/>
			<xs:element name="Travel" type="PkgTravelSegment"/>
		</xs:choice>
		<xs:attributeGroup ref="PackageItemPositionGroup"/>
	</xs:complexType>
	<xs:complexType name="MealPlanType">
		<xs:annotation>
			<xs:documentation>Details of meal arrangements, booked or available according to context, with appropriate supplementary charges. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerCounts" type="CustomerCountsType" minOccurs="0"/>
			<xs:element name="SupplementCharges" type="SupplementChargesType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
		<xs:attributeGroup ref="MealPlanGroup"/>
	</xs:complexType>
	<xs:complexType name="OwnInsuranceChoiceType">
		<xs:annotation>
			<xs:documentation>Details of the customer's own insurance policy. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerCounts" type="CustomerCountsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="InsuranceCompany" type="StringLength1to64" use="required">
			<xs:annotation>
				<xs:documentation>The name of the customer's chosen insurance company.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PolicyNmbr" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation>A reference by which an issued policy is recognised.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PackageType">
		<xs:annotation>
			<xs:documentation>Defines a complete package holiday. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="URL" type="URL_Type" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0"/>
			<xs:element name="DateRange" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="DateTimeSpanGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ItineraryItems" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of elements to allow any item of inventory to be requested for a booking.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ItineraryItem" type="ItineraryItemType" maxOccurs="99"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cautions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of items of essential information relating to components of a package itinerary.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Caution" type="PkgCautionType" maxOccurs="99"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ID_OptionalGroup"/>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional"/>
		<xs:attribute name="TravelCode" type="PkgTravelCode" use="optional"/>
		<xs:attribute name="TourCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation>The supplier’s code to identify the accommodation/tour arrangement for a package</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ShortDescription" type="ShortDescriptionType" use="optional"/>
		<xs:attribute name="BoardCode" type="MealPlanCode" use="optional"/>
		<xs:attribute name="PromotionCode" type="StringLength1to16" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PersonalInsuranceItemType">
		<xs:annotation>
			<xs:documentation>Indicates the number of customers taking specific type of personal insurance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerCounts" type="CustomerCountsType"/>
		</xs:sequence>
		<xs:attribute name="Code" type="PkgPersonalInsuranceCode" use="required"/>
	</xs:complexType>
	<xs:complexType name="PkgAirSegmentType">
		<xs:annotation>
			<xs:documentation>Provides details of an air segment</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FlightSegmentBaseType">
				<xs:sequence>
					<xs:element name="SupplementCharges" type="SupplementChargesType" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>A value representing a supplement for this journey (e.g. Aberdeen to Palma) over the cost of the journey on which package basic price is calculated (e.g. Gatwick to Palma).   The element repeats to allow for charges in an alternative currency to be shown. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvailableSeats" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A collection of seat availability by class.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SeatAvailability" type="SeatAvailabilityType" maxOccurs="26"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="CheckInDate" type="xs:dateTime" use="optional">
					<xs:annotation>
						<xs:documentation>Provides the recommended date and time of passenger check-in.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type" use="optional">
					<xs:annotation>
						<xs:documentation>Indicates whether the flight is a scheduled or charter service.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Charter"/>
							<xs:enumeration value="Scheduled"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DepartureDay" type="DayOfWeekType" use="optional"/>
				<xs:attribute name="TravelCode" type="PkgTravelCode" use="optional">
					<xs:annotation>
						<xs:documentation>The supplier’s code to identify the travel arrangement for the package</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Duration" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation>A length of time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PkgCautionType">
		<xs:annotation>
			<xs:documentation>Provides information regarding a package component which could affect a customer's decision to book.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FormattedTextTextType">
				<xs:attributeGroup ref="DateTimeSpanGroup"/>
				<xs:attribute name="ItinerarySequence" type="Numeric1to99" use="optional">
					<xs:annotation>
						<xs:documentation>Used to relate this item of information to the inventory item.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation>Identifies the type of information e.g. Resort, Flight, Accommodation etc..</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PkgInvoiceDetail">
		<xs:annotation>
			<xs:documentation>A list of all the items making up a costed booking</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CostingItems">
				<xs:annotation>
					<xs:documentation>A collection of invoice item lines.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CostingItem" type="CostingItemType" maxOccurs="99"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GrossAmount" type="CurrencyAmountType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Total amount in the declared unit of currency; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepositAmount" type="CurrencyAmountType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Defines the amount payable at the time of booking to secure the booking; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountCommission" type="DiscountCommissionType" minOccurs="0" maxOccurs="8">
				<xs:annotation>
					<xs:documentation>Defines the fee earned by the agent for the booking or an amount of discount given on a direct booking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetAmount" type="CurrencyAmountType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>The amount payable by the agent, i.e. GrossAmount less Discount/Commission; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxItems" type="TaxesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of tax item lines.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BalanceDueAmount" type="CurrencyAmountType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>The amount remaining to be paid by the customer i.e. GrossAmount less DepositAmount; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BalanceDueDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Date on which payment must be received</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PkgPassengerListItem">
		<xs:annotation>
			<xs:documentation>Details of a passenger. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="PersonNameType"/>
			<xs:element name="SpecialNeed" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>A special requirement e.g. wheelchair or vegetarian meal. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength1to64">
							<xs:attribute name="Code" type="StringLength1to8" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RPH" type="RPH_Type" use="optional"/>
		<xs:attribute name="InsuranceRPH" type="RPH_Type" use="optional"/>
		<xs:attributeGroup ref="GenderGroup"/>
		<xs:attribute name="Nationality" type="ISO3166" use="optional"/>
		<xs:attribute name="Age" type="Numeric1to999" use="optional"/>
		<xs:attributeGroup ref="BirthDateGroup"/>
	</xs:complexType>
	<xs:complexType name="PkgPassengerRPHs">
		<xs:annotation>
			<xs:documentation>A container to allow one to relate individual passengers to an inventory or chargeable item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PassengerRPH" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="RPH" type="RPH_Type" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PkgPriceType">
		<xs:annotation>
			<xs:documentation>Gives a price for a quantity of a traveller type e.g. a price for 2 adults.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TravelerCountType">
				<xs:attributeGroup ref="CurrencyAmountGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PkgRoomInventoryType">
		<xs:annotation>
			<xs:documentation>Describes a type of room/cabin/apartment etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RoomStayCandidateType">
				<xs:sequence>
					<xs:element name="SupplementCharges" type="SupplementChargesType" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
				<xs:attribute name="RPH" type="RPH_Type" use="optional"/>
				<xs:attribute name="Description" type="ShortDescriptionType" use="optional">
					<xs:annotation>
						<xs:documentation>A full description of the room/apartment etc. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="OccupancyGroup"/>
				<xs:attribute name="MaxAdults" type="Numeric1to99" use="optional">
					<xs:annotation>
						<xs:documentation>Maximum number of adults allowed in a unit of accommodation. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CotQuantity" type="Numeric0to4" use="optional">
					<xs:annotation>
						<xs:documentation>The number of cots/cribs available in a room/apartment etc. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="FreeChildFlag" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Indicates whether a free child is permitted in a room/apartment etc. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PkgRoomProfileType">
		<xs:annotation>
			<xs:documentation>Describes the occupancy of a room or cabin.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PkgRoomInventoryType">
				<xs:sequence>
					<xs:element name="PassengerRPHs" type="PkgPassengerRPHs" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PkgTravelJourney">
		<xs:annotation>
			<xs:documentation>Provides details of a return travel journey. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation>The type of travel component - e.g. Air, Rail, Sea etc. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OriginAirportID" type="StringLength3" use="required"/>
		<xs:attribute name="DestinationAirportID" type="StringLength3" use="required"/>
		<xs:attribute name="OutwardDateTime" type="xs:dateTime" use="required"/>
		<xs:attribute name="ReturnDateTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="TravelCode" type="PkgTravelCode" use="optional">
			<xs:annotation>
				<xs:documentation>The code allocated to a travel component by the supplier. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CompanyID_AttributesGroup"/>
	</xs:complexType>
	<xs:complexType name="PkgTravelSegment">
		<xs:annotation>
			<xs:documentation>A full definition of a travel segment including supplemental price and facilities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirSegment" type="PkgAirSegmentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyIdentityType">
		<xs:annotation>
			<xs:documentation>Full name or description plus codes for a property. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="HotelReferenceGroup"/>
				<xs:attribute name="PropertyClassType" type="OTA_CodeType" use="required"/>
				<xs:attribute name="ContentURL" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResortCodeType">
		<xs:annotation>
			<xs:documentation>Identifies a resort, town or city.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional"/>
		<xs:attribute name="Name" type="StringLength1to64" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RoomPriceType">
		<xs:annotation>
			<xs:documentation>Gives a total price and prices by traveler type for a room occupancy combination e.g. 2 adults and 2 children</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GuestCounts" type="GuestCountType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="ItemPrice" type="CostingItemType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Price for a traveler type in the room. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfilePrice" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total price for this room. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RoomRPH" type="RPH_Type" use="optional"/>
		<xs:attribute name="Code" type="StringLength1to16" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SeatAvailabilityType">
		<xs:annotation>
			<xs:documentation>A collection of seat availability by class.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplementCharges" type="SupplementChargesType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>A value representing a supplement for this seat class over the cost of the seat class on which package basic price is calculated   The element repeats to allow for charges in an alternative currency to be shown.   The charge element repeats to allow differential charging according to, for exaample, age. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CodeListGroup"/>
		<xs:attribute name="SeatQuantity" type="Numeric0to999" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SourceIdentificationType">
		<xs:annotation>
			<xs:documentation>Where details of the package can be found. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attribute name="Code" type="StringLength1to64" use="optional">
					<xs:annotation>
						<xs:documentation>E.g. brochure code. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Issue" type="StringLength1to64" use="optional">
					<xs:annotation>
						<xs:documentation>e.g. brochure edition/issue reference. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Page" type="Numeric1to999" use="optional">
					<xs:annotation>
						<xs:documentation>e.g. page number in the brochure. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SupplementChargesType">
		<xs:annotation>
			<xs:documentation>A value representing a supplement for an item over the cost of the item on which a package basic price is calculated; may be repeated for multiple currencies e.g. GBP and Euros.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Charge" type="FeeType" maxOccurs="9">
				<xs:annotation>
					<xs:documentation> The charge element repeats to allow differential charging according to, for example, age. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
	</xs:complexType>
	<xs:complexType name="TaxItemType">
		<xs:annotation>
			<xs:documentation>Defines a tax item on an invoice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaxAmount" type="CurrencyAmountType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An amount of tax payable; may be repeated for multiple currencies e.g. GBP and Euros..</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Description" type="ShortDescriptionType" use="optional"/>
		<xs:attribute name="Code" use="optional">
			<xs:annotation>
				<xs:documentation>A code identifying the taxable status of an item e.g. E (Exempt), S (Standard) etc..</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="E"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="Z"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Rate" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation>A percentage rate of tax.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
