trunk/src/test/resources/xsd/OTA_HotelReservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.000" id="OTA2003A2003A">
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_HotelPreferences.xsd"/>
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirPreferences.xsd"/>
	<xs:complexType name="HotelResModifyType">
		<xs:sequence>
			<xs:element name="HotelResModify" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A full overlay of reservation information containing the modified data. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="HotelReservationType">
							<xs:sequence>
								<xs:element name="Verification" type="VerificationType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The data used to ensure the correct reservation is modified (e.g. a CustLoyalty/ MembershipID would be verified as part of the reservation that you plan to modify to ensure the correct reservation is being modified).</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RoutingHops" type="RoutingHopType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of routing hops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WrittenConfInst" type="WrittenConfInstType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method by which confirmations should be delivered.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HotelReservationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Reservation class contains the current reservation being created or altered.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0"/>
			<xs:element name="RoomStays" type="RoomStaysType" minOccurs="0"/>
			<xs:element name="Services" type="ServicesType" minOccurs="0"/>
			<xs:element name="ResGuests" type="ResGuestsType" minOccurs="0"/>
			<xs:element name="ResGlobalInfo" type="ResGlobalInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ResGlobalInfo is a container for various information that affects the Reservation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WrittenConfInst" type="WrittenConfInstType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To indicate a confirmation is to be sent for this reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RoomStayReservation" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Boolean True if this reservation is reserving rooms.  False if it is only reserving services.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
	</xs:complexType>
	<xs:complexType name="HotelReservationsType">
		<xs:sequence>
			<xs:element name="HotelReservation" type="HotelReservationType" maxOccurs="unbounded"/>
			<xs:element name="RoutingHops" type="RoutingHopType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of routing hops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WrittenConfInst" type="WrittenConfInstType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To indicate a confirmation is to be sent for this batch of reservations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResCommonDetailType">
		<xs:annotation>
			<xs:documentation>A grouping of elements including Guest Counts, Time Span, pointers to Res Guests, guest Memberships, Comments and Special Requests and finally finacial information including Guarantee, Deposit and Payyment and Cancellation Penalties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GuestCounts" type="GuestCountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Guest Counts associated to the whole Reservation or a particular Room Stay or Service. A child Guest Count element is required for each distict age group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSpan" type="DateTimeSpanType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Time Span which covers the Reservation, Room Stay or Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResGuestRPHs" type="ResGuestRPHsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of ResGuestRPH objects. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Memberships" type="MembershipType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Membership objects. Memberships provides a list of reward programs which may be credited with points accrued from the guest's activity. Which memberships are to be applied to which part is determined by each object's SelectedMembershipRPHs collection.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="CommentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Comment objects. Comments which apply to the whole Reservation or a particular Room Stay or Service. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialRequests" type="SpecialRequestType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The SpecialRequest object indicates special requests for the whole Reservation, or a particular Room Stay or Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guarantee" type="GuaranteeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The guarantee information associated to the Reservation or a particular Room Stay or Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepositPayments" type="RequiredPaymentsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of deposit and/or payments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelPenalties" type="CancelPenaltiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Cancellation Penalties objects. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Total" type="TotalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The total amount charged for the accommodation including additional occupant amounts and fees. If TaxInclusive is set to True, then taxes are included in the total amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResGlobalInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">ResGlobalInfo is a container for various information that affects the Reservation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ResCommonDetailType">
				<xs:sequence>
					<xs:element name="HotelReservationIDs" type="HotelReservationIDsType" minOccurs="0"/>
					<xs:element name="RoutingHops" type="RoutingHopType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A collection of RoutingHop objects. This details the path that the original request or notification traveled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Profiles" type="ProfilesType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResGuestRPHsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of unsigned integers serving as reference placeholders, and used as an index identifying which guests occupy this room</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResGuestRPH" type="ReferencePlaceHolderType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this guest in this reservation. In the ResGuest object it is used like all other RPH attributes to send the delta of a reservation.  It is used by the RoomStay and Service objects to indicate which guests are associated with that room stay or service.  </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResGuestsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of ResGuest objects, identifying the guests associated with this reservation. Which guests are in which room is determined by each RoomStays ResGuestRPHs collection.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResGuest" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ResGuest object contains the information about a guest associated with a reservation. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Profiles" type="ProfilesType" minOccurs="0"/>
						<xs:element name="SpecialRequests" type="SpecialRequestType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SpecialRequest object indicates special requests for a particular guest.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Comments" type="CommentType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">A collection of Comment objects. Comments which apply to one or more guests.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ServiceRPHs" type="ServiceRPHsType" minOccurs="0"/>
						<xs:element name="ArrivalTransport" type="TransportInfoType" minOccurs="0"/>
						<xs:element name="DepartureTransport" type="TransportInfoType" minOccurs="0"/>
						<xs:element name="GuestCounts" type="GuestCountType" minOccurs="0"/>
						<xs:element name="InHouseTimeSpan" type="DateTimeSpanType" minOccurs="0"/>
						<xs:element ref="TPA_Extensions" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="ResGuestRPH" type="RPH_Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this guest in this reservation. In the ResGuest object it is used like all other RPH attributes to send the delta of a reservation. It is used by the RoomStay and Service objects to indicate which guests are associated with that room stay or service.  </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A code representing a business rule that determines the charges for a guest based upon age range. For example, Adult, Child, Senior, Child With Adult, Child Without Adult, etc. This attribute allows for an increase in rate by occupant class.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ArrivalTime" type="xs:time" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This represents the date and time of the guest's arrival at the hotel.  For example, this could be used to indicate a late arrival.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DepartureTime" type="xs:time" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This represents the date and time of the guest's departure from the hotel. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GroupEventCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The identification of a group meeting or convention.  Used to track a guest who is part of an inventory block (e.g.: group), and can be used for a pick-up when the guest calls in to reserve a room as part of the block. Whether this is taken from inventory depends upon the InventoryBlockCode in the Room Stay class.  This code is associated with a group or event as agreed between two parties.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="VIP" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Guest is VIP indicator. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomStaysType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of RoomStay objects.  Room stays associated with this reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RoomStay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details on the Room Stay including Guest Counts, Time Span of this Room Stay, pointers to Res Guests, guest Memberships, Comments and Special Requests pertaining to this particular Room Stay and finally finacial information related to the Room Stay, including Guarantee, Deposit and Payment and Cancellation Penalties.</xs:documentation>
					<xs:documentation xml:lang="en"> A collection of reference place holders. This is a reference placeholder, used as an index for the reservation guests.
					</xs:documentation>
					<xs:documentation xml:lang="en">A collection of Hotel Service reference placeholders. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RoomStayType">
							<xs:sequence>
								<xs:element name="ResGuestRPHs" type="ResGuestRPHsType" minOccurs="0"/>
								<xs:element name="Memberships" type="MembershipType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">A collection of Membership objects. Memberships provides a list of reward programs which may be credited with points accrued from the guest's activity. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Comments" type="CommentType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">A collection of Comment objects. Comments which apply to the whole Reservation or a particular Room Stay or Service. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SpecialRequests" type="SpecialRequestType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The SpecialRequest object indicates special requests for the whole Reservation, or a particular Room Stay or Service.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ServiceRPHs" type="ServiceRPHsType" minOccurs="0"/>
								<xs:element ref="TPA_Extensions" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceRPHsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of unsigned integers that reference the RPH (Reference Place holder) attribute in the Service object. The ServiceRPH attribute in the Service object is an indexing attribute that identifies the services attached to a specific guest or to the reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceRPH" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">This is a reference placeholder used as an index for a service to be associated with this stay</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ReferencePlaceHolderType">
							<xs:attribute name="IsPerRoom" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation>Defines whether this is for each room of a RoomStay</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of Service objects. This is the collection of all services associated with any part of this reservation (the reservation in its entirety, one or more guests, or one or more room stays).   Which services are attributable to which part is determined by each object's ServiceRPHs collection.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Service" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A Service object represents a non-room product provided to guests.  Service products may have associated inventory and charges.  </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Price" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The selling price of this Service.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ServiceDetails" type="ResCommonDetailType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Details on the Service including Guest Counts, Time Span of this Service, pointers to Res Guests, guest Memberships, Comments and Special Requests pertaining to this particular Service and finally finacial information related to the Service, including Guarantee, Deposit and Payment and Cancellation Penalties.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="TPA_Extensions" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="ServicePricingType" type="PricingType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">An enumerated type that defines how a service is priced.  Values:  Per stay,  Per person, Per night, Per person per night,  Per use.  </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ReservationStatusType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">An enumerated type that defines the status of the reservation for this service.
</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="StringLength1to16">
								<xs:enumeration value="Reserved"/>
								<xs:enumeration value="Requested"/>
								<xs:enumeration value="Request denied"/>
								<xs:enumeration value="No-show"/>
								<xs:enumeration value="Cancelled"/>
								<xs:enumeration value="In-house"/>
								<xs:enumeration value="Checked out"/>
								<xs:enumeration value="Waitlisted"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ServiceRPH" type="RPH_Type" use="optional"/>
					<xs:attribute name="ServiceInventoryCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The representation of the specific service being reserved.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RatePlanCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The representation of the rate plan under which this service was booked.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="InventoryBlockCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The representation of the block code under which the inventory for this service is categorized.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PriceGuaranteed" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Whether the price for this service is guaranteed or quoted and subject to change.
Values: False (Price NOT guaranteed) and True (Price is guaranteed).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Inclusive" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Whether the price for this service is included in the room rate.
Values: False (or No), and True (or Yes).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Quantity" type="Numeric1to999" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The number of tickets, rounds of golf, etc.  Also serves as the number of persons when pricing class is per person or per person per night.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A TransportInfo object is used to indicate transportation information for a guest.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportInfo">
				<xs:complexType>
					<xs:attribute name="Type" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Method of conveyance of this guest.  Values: Air, Rail, Bus, Boat, Private Auto, Other. 	</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ID" type="StringLength1to32" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifier of this transportation method (e.g., flight number).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="LocationCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifier of the arrival or delivery point (e.g., airport code)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Time" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Time of transportation.  Local time of the location indicated by the LocationCode. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
