distribution/samples/diff/1/material.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://predic8.com/material/1/"
    xmlns:tns="http://predic8.com/material/1/"
    xmlns:ns0="http://predic8.com/common/1/">
    <xsd:import schemaLocation="common.xsd" namespace="http://predic8.com/common/1/"/>
    <xsd:complexType name="ArticleType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string"></xsd:element>
            <xsd:element name="price" type="ns0:MoneyType"></xsd:element>
            <xsd:element name="id" type="ns0:IdentifierType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>