distribution/samples/diff/modified/article.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://predic8.com/wsdl/material/ArticleService/1/"
	xmlns:ns="http://predic8.com/material/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://predic8.com/material/1/" xmlns:ns2="http://predic8.com/common/1/"
	name="article" targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/">
	<documentation>ArticleService in Version 2</documentation>
	<types>

		<xsd:schema targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/"
			xmlns:ns1="http://predic8.com/material/1/" xmlns:ns2="http://predic8.com/common/1/">

      <xsd:include schemaLocation="article.xsd" />
      
		</xsd:schema>
	</types>
	
	<message name="createRequest">
		<part name="parameters" element="tns:create" />
	</message>
	<message name="createResponse">
		<part name="parameters" element="tns:createResponse" />
	</message>
	<message name="getRequest">
		<part name="parameters" element="tns:get" />
	</message>
	<message name="getResponse">
		<part name="parameters" element="tns:getResponse" />
	</message>
	<message name="getAllRequest">
		<part name="parameters" element="tns:getAll" />
	</message>
	<message name="getAllResponse">
		<part name="parameters" element="tns:getAllResponse" />
	</message>
	<portType name="ArticleServicePT">
		<documentation>Interface provided by this Service</documentation>
		
		<operation name="create">
			<input name="input1" message="tns:createRequest" />
			<output name="output1" message="tns:createResponse" />
		</operation>
		
		<operation name="generate">
			<input name="input1" message="tns:createRequest" />
			<output name="output1" message="tns:createResponse" />
		</operation>
		
		<operation name="get">
			<input name="input2" message="tns:getRequest" />
			<output name="output2" message="tns:getResponse" />
		</operation>
		
		<operation name="getAll">
			<input name="input3" message="tns:getAllRequest" />
			<output name="output3" message="tns:getAllResponse" />
		</operation>
		
	</portType>
	<wsdl:binding name="ArticleServicePTBinding" type="tns:ArticleServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="generate">
			<soap:operation soapAction="create_action" />
			<wsdl:input name="input1">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="output1">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="get_action" />
			<wsdl:input name="input2">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="output2">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAll">
			<soap:operation soapAction="getAll_action" />
			<wsdl:input name="input3">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="output3">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ArticleService">
		<wsdl:port name="ArticleServicePTPort2" binding="tns:ArticleServicePTBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
	</wsdl:service>
</definitions>
