core/src/test/resources/wadl/xsd0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="bar" type="bar"/>

  <xs:element name="barList" type="barList"/>

  <xs:complexType name="bar">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="barList">
    <xs:sequence>
      <xs:element name="bars" type="bar" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

