core/src/test/resources/wsdl/multiple-files-same-namespace-nested/new/City.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://TestEngineLib"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="City">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="city" type="xsd:string"/>
            <xsd:element minOccurs="0" name="region" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>