core/src/main/resources/wsdl11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 
Copyright 2001 - 2005, International Business Machines Corporation and Microsoft Corporation
All Rights Reserved

License for WSDL Schema Files

The Authors grant permission to copy and distribute the WSDL Schema 
Files in any medium without fee or royalty as long as this notice and 
license are distributed with them.  The originals of these files can 
be located at:

http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd

THESE SCHEMA FILES ARE PROVIDED "AS IS," AND THE AUTHORS MAKE NO REPRESENTATIONS 
OR WARRANTIES, EXPRESS OR IMPLIED, REGARDING THESE FILES, INCLUDING, BUT NOT 
LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
NON-INFRINGEMENT OR TITLE.  THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, 
INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR 
RELATING TO ANY USE OR DISTRIBUTION OF THESE FILES.

The name and trademarks of the Authors may NOT be used in any manner, 
including advertising or publicity pertaining to these files or any program 
or service that uses these files, written prior permission.  Title to copyright 
in these files will at all times remain with the Authors.

No other rights are granted by implication, estoppel or otherwise.


-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified">
   
  <xs:complextype mixed="true" name="tDocumentation">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
  </xs:complextype>

  <xs:complextype name="tDocumented">
    <xs:annotation>
      <xs:documentation>
      This type is extended by  component types to allow them to be documented
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentation" type="wsdl:tDocumentation" minOccurs="0" />
    </xs:sequence>
  </xs:complextype>
	 
  <xs:complextype name="tExtensibleAttributesDocumented" abstract="true">
    <xs:complexcontent>
      <xs:extension base="wsdl:tDocumented">
        <xs:annotation>
          <xs:documentation>
          This type is extended by component types to allow attributes from other namespaces to be added.
          </xs:documentation>
        </xs:annotation>
        <xs:anyattribute namespace="##other" processContents="lax" />    
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>

  <xs:complextype name="tExtensibleDocumented" abstract="true">
    <xs:complexcontent>
      <xs:extension base="wsdl:tDocumented">
        <xs:annotation>
          <xs:documentation>
          This type is extended by component types to allow elements from other namespaces to be added.
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
        </xs:sequence>
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>

  <xs:element name="definitions" type="wsdl:tDefinitions">
    <xs:key name="message">
      <xs:selector xpath="wsdl:message" />
      <xs:field xpath="@name" />
    </xs:key>
    <xs:key name="portType">
      <xs:selector xpath="wsdl:portType" />
      <xs:field xpath="@name" />
    </xs:key>
    <xs:key name="binding">
      <xs:selector xpath="wsdl:binding" />
      <xs:field xpath="@name" />
    </xs:key>
    <xs:key name="service">
      <xs:selector xpath="wsdl:service" />
      <xs:field xpath="@name" />
    </xs:key>
    <xs:key name="import">
      <xs:selector xpath="wsdl:import" />
      <xs:field xpath="@namespace" />
    </xs:key>
  </xs:element>

  <xs:group name="anyTopLevelOptionalElement">
    <xs:annotation>
      <xs:documentation>
      Any top level optional element allowed to appear more then once - any child of definitions element except wsdl:types. Any extensibility element is allowed in any place.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="import" type="wsdl:tImport" />
      <xs:element name="types" type="wsdl:tTypes" />                     
      <xs:element name="message" type="wsdl:tMessage">
        <xs:unique name="part">
          <xs:selector xpath="wsdl:part" />
          <xs:field xpath="@name" />
        </xs:unique>
      </xs:element>
      <xs:element name="portType" type="wsdl:tPortType" />
      <xs:element name="binding" type="wsdl:tBinding" />
      <xs:element name="service" type="wsdl:tService">
        <xs:unique name="port">
          <xs:selector xpath="wsdl:port" />
          <xs:field xpath="@name" />
        </xs:unique>
	  </xs:element>
    </xs:choice>
  </xs:group>

  <xs:complextype name="tDefinitions">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:sequence>
          <xs:group ref="wsdl:anyTopLevelOptionalElement" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional" />
        <xs:attribute name="name" type="xs:NCName" use="optional" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
   
  <xs:complextype name="tImport">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleAttributesDocumented">
        <xs:attribute name="namespace" type="xs:anyURI" use="required" />
        <xs:attribute name="location" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
   
  <xs:complextype name="tTypes">
    <xs:complexcontent>   
      <xs:extension base="wsdl:tExtensibleDocumented" />
    </xs:complexcontent>   
  </xs:complextype>
     
  <xs:complextype name="tMessage">
    <xs:complexcontent>   
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:sequence>
          <xs:element name="part" type="wsdl:tPart" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexcontent>   
  </xs:complextype>

  <xs:complextype name="tPart">
    <xs:complexcontent>   
      <xs:extension base="wsdl:tExtensibleAttributesDocumented">
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="element" type="xs:QName" use="optional" />
        <xs:attribute name="type" type="xs:QName" use="optional" />    
      </xs:extension>
    </xs:complexcontent>   
  </xs:complextype>

  <xs:complextype name="tPortType">
    <xs:complexcontent>   
      <xs:extension base="wsdl:tExtensibleAttributesDocumented">
        <xs:sequence>
          <xs:element name="operation" type="wsdl:tOperation" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexcontent>   
  </xs:complextype>
   
  <xs:complextype name="tOperation">
    <xs:complexcontent>   
      <xs:extension base="wsdl:tExtensibleDocumented">
	    <xs:sequence>
          <xs:choice>
            <xs:group ref="wsdl:request-response-or-one-way-operation" />
            <xs:group ref="wsdl:solicit-response-or-notification-operation" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="parameterOrder" type="xs:NMTOKENS" use="optional" />
      </xs:extension>
    </xs:complexcontent>   
  </xs:complextype>
    
  <xs:group name="request-response-or-one-way-operation">
    <xs:sequence>
      <xs:element name="input" type="wsdl:tParam" />
	  <xs:sequence minOccurs="0">
	    <xs:element name="output" type="wsdl:tParam" />
		<xs:element name="fault" type="wsdl:tFault" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:group name="solicit-response-or-notification-operation">
    <xs:sequence>
      <xs:element name="output" type="wsdl:tParam" />
	  <xs:sequence minOccurs="0">
	    <xs:element name="input" type="wsdl:tParam" />
		<xs:element name="fault" type="wsdl:tFault" minOccurs="0" maxOccurs="unbounded" />
	  </xs:sequence>
    </xs:sequence>
  </xs:group>
        
  <xs:complextype name="tParam">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleAttributesDocumented">
        <xs:attribute name="name" type="xs:NCName" use="optional" />
        <xs:attribute name="message" type="xs:QName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>

  <xs:complextype name="tFault">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleAttributesDocumented">
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="message" type="xs:QName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
     
  <xs:complextype name="tBinding">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:sequence>
          <xs:element name="operation" type="wsdl:tBindingOperation" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="type" type="xs:QName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
    
  <xs:complextype name="tBindingOperationMessage">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:attribute name="name" type="xs:NCName" use="optional" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
  
  <xs:complextype name="tBindingOperationFault">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>

  <xs:complextype name="tBindingOperation">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:sequence>
          <xs:element name="input" type="wsdl:tBindingOperationMessage" minOccurs="0" />
          <xs:element name="output" type="wsdl:tBindingOperationMessage" minOccurs="0" />
          <xs:element name="fault" type="wsdl:tBindingOperationFault" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
     
  <xs:complextype name="tService">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:sequence>
          <xs:element name="port" type="wsdl:tPort" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>
     
  <xs:complextype name="tPort">
    <xs:complexcontent>
      <xs:extension base="wsdl:tExtensibleDocumented">
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="binding" type="xs:QName" use="required" />
      </xs:extension>
    </xs:complexcontent>
  </xs:complextype>

  <xs:attribute name="arrayType" type="xs:string" />
  <xs:attribute name="required" type="xs:boolean" />
  <xs:complextype name="tExtensibilityElement" abstract="true">
    <xs:attribute ref="wsdl:required" use="optional" />
  </xs:complextype>

</xs:schema>