soa-model-core/trunk/src/test/resources/any.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstname" type="xs:string"/>
        <xs:element name="lastname" type="xs:string"/>
        <xs:any minOccurs="0" namespace="com.predic8.any">bla bla bla</xs:any>
      </xs:sequence>
      <xs:anyAttribute namespace="com.predic8.anyAttribute"/>
    </xs:complexType>
  </xs:element>
</xs:schema>